<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Build Options">
        <setting type="lsep" label="Current Build:"/>
        <setting id="buildname" type="text" label="Installed Build: " enable="false" default=""/>
        <setting id="buildversion" type="text" label="Installed Version: " enable="false" default=""/>
        <setting id="buildtheme" type="text" label="Current Theme: " enable="false" default=""/>
        <setting id="latestversion" type="text" label="Latest Version: " enable="false" default=""/>
        <setting id="nextbuildcheck" type="text" label="Next check for build update: " enable="false" default="2019-01-01 00:00:00" />
        <setting id="disableupdate" type="bool" label="Disable Update Notification" default="false"/>
        <setting type="lsep" label="Show Builds:"/>
        <setting id="show19" type="bool" label="Show Matrix (v19.0) Builds" default="true"/>
        <setting id="separate" type="bool" label="Do not separate based off version" default="false"/>
        
        <!-- Hidden Settings -->
        <setting id="first_install" type="bool" label="First Install" visible="false" default="true" />
        <setting id="enable_all" type="bool" label="Enable all Add-ons on Start" visible="false" default="false" />
        <setting id="time_started" type="number" label="Time Startup Script Last Run" visible="false" default="0" />
        <setting id="installed" type="text" label="Build Installed" visible="false" default="false" />
        <setting id="extract" type="number" label="Extract Build %" visible="false" default="100" />
        <setting id="errors" type="number" label="Extract Error" visible="false" default="0" />
        <setting id="defaultskin" type="text" label="Default Skin: " enable="false" default="" visible="false"/>
        <setting id="defaultskinname" type="text" label="Default Skin Name: " enable="false" default="" visible="false"/>
        <setting id="defaultskinignore" type="bool" label="Ignore default skin check:" enable="false" default="false" visible="false"/>
        <setting id="default.enablerssfeeds" type="text" label="Default lookandfeel.enablerssfeeds:" enable="false" default="" visible="false"/>
        <setting id="default.font" type="text" label="Default lookandfeel.font:" enable="false" default="" visible="false"/>
        <setting id="default.rssedit" type="text" label="Default lookandfeel.rssedit:" enable="false" default="" visible="false"/>
        <setting id="default.skincolors" type="text" label="Default lookandfeel.skincolors:" enable="false" default="" visible="false"/>
        <setting id="default.skintheme" type="text" label="Default lookandfeel.skintheme:" enable="false" default="" visible="false"/>
        <setting id="default.skinzoom" type="text" label="Default lookandfeel.skinzoom:" enable="false" default="" visible="false"/>
        <setting id="default.soundskin" type="text" label="Default lookandfeel.soundskin:" enable="false" default="" visible="false"/>
        <setting id="default.startupwindow" type="text" label="Default lookandfeel.startupwindow:" enable="false" default="" visible="false"/>
        <setting id="default.stereostrength" type="text" label="Default lookandfeel.stereostrength:" enable="false" default="" visible="false"/>
        <setting id="default.addonupdate" type="text" label="Default general.addonupdate:" enable="false" default="" visible="false"/>
    </category>

    <category label="Maintenance">
        <setting type="lsep" label="Upload Log: "/>
        <setting id="oldlog" type="bool" label="Include Kodi.Old.Log" default="false"/>
        <setting id="wizlog" type="bool" label="Include Wizard Logs" default="false"/>
        <setting id="crashlog" type="bool" label="Include Kodi Crash Logs" default="false"/>
        <setting type="lsep" label="Maintenance Menu: "/>
        <setting id="path" type="folder" label="Choose Backup Storage Location" default="special://home/"/>
        <setting type="lsep" label="Auto Clean On Startup:"/>
        <setting id="autoclean" type="bool" label="Enable Auto Clean" default="false"/>
        <setting id="clearcache" type="bool" label="Clear Cache on Startup" default="false" enable="!eq(-1,false)"/>
        <setting id="clearpackages" type="bool" label="Clear Packages on Startup" default="false" enable="!eq(-2,false)"/>
        <setting id="clearthumbs" type="bool" label="Clear Week Old Thumbnails on Startup" default="false" enable="!eq(-3,false)"/>
        <setting id="autocleanfreq" type="enum" label="How often would you like to Auto Clean on Startup?" values="Always|Daily|3 Days|Weekly|Monthly" default="3" enable="!eq(-4,false)"/>
        <setting id="nextautocleanup" type="text" label="Next Auto Clean Up: " enable="false" visible="false" default="2019-01-01 00:00:00" />
        <setting type="lsep" label="Clearing Video Cache:"/>
        <setting id="includevideo" type="bool" label="Include Video Addons in Clear Cache: " default="true"/>
        <setting id="includeall" type="bool" label="Include All Addons: " default="true" enable="!eq(-1,false)"/>
        <setting id="includeexodusredux" type="bool" label="Include Exodus Redux DB: " default="true" enable="eq(-1,false)" visible="System.HasAddon(plugin.video.exodusredux)"/>
        <setting id="includegaia" type="bool" label="Include Gaia Cache DB: " default="true" enable="eq(-2,false)" visible="System.HasAddon(plugin.video.gaia)"/>
        <setting id="includenumbers" type="bool" label="Include NuMb3r5 Cache DB: " default="true" enable="eq(-3,false)" visible="System.HasAddon(plugin.video.numbersbynumbers)"/>
        <setting id="includescrubs" type="bool" label="Include Scrubs v2 Cache DB: " default="true" enable="eq(-4,false)" visible="System.HasAddon(plugin.video.scrubsv2)"/>
        <setting id="includeseren" type="bool" label="Include Seren Cache DB: " default="true" enable="eq(-5,false)" visible="System.HasAddon(plugin.video.seren)"/>
        <setting id="includethecrew" type="bool" label="Include THE CREW Cache DB: " default="true" enable="eq(-6,false)" visible="System.HasAddon(plugin.video.thecrew)"/>
        <setting id="includevenom" type="bool" label="Include Venom Cache DB: " default="true" enable="eq(-7,false)" visible="System.HasAddon(plugin.video.venom)"/>

        <!-- Default settings for Save Data entries -->
        <setting id="exodusredux" type="text" default="" visible="false"/>
        <setting id="fen" type="text" default="" visible="false"/>
        <setting id="gaia" type="text" default="" visible="false"/>
        <setting id="numbers" type="text" default="" visible="false"/>
        <setting id="openmeta" type="text" default="" visible="false"/>
        <setting id="premiumizer" type="text" default="" visible="false"/>
        <setting id="realizer" type="text" default="" visible="false"/>
        <setting id="scrubs" type="text" default="" visible="false"/>
        <setting id="seren" type="text" default="" visible="false"/>
        <setting id="shadow" type="text" default="" visible="false"/>
        <setting id="thecrew" type="text" default="" visible="false"/>
        <setting id="tmdbhelper" type="text" default="" visible="false"/>
        <setting id="trakt" type="text" default="" visible="false"/>
        <setting id="venom" type="text" default="" visible="false"/>

        <setting id="fenad" type="text" default="" visible="false"/>
        <setting id="fenpm" type="text" default="" visible="false"/>
        <setting id="fenrd" type="text" default="" visible="false"/>
        <setting id="gaiaad" type="text" default="" visible="false"/>
        <setting id="gaiapm" type="text" default="" visible="false"/>
        <setting id="gaiard" type="text" default="" visible="false"/>
        <setting id="pmzer" type="text" default="" visible="false"/>
        <setting id="serenad" type="text" default="" visible="false"/>
        <setting id="serenpm" type="text" default="" visible="false"/>
        <setting id="serenpm-oauth" type="text" default="" visible="false"/>
        <setting id="serenrd" type="text" default="" visible="false"/>
        <setting id="rurlad" type="text" default="" visible="false"/>
        <setting id="rurlpm" type="text" default="" visible="false"/>
        <setting id="rurlrd" type="text" default="" visible="false"/>
        <setting id="urlad" type="text" default="" visible="false"/>
        <setting id="urlpm" type="text" default="" visible="false"/>
        <setting id="urlrd" type="text" default="" visible="false"/>
        <setting id="shadowad" type="text" default="" visible="false"/>
        <setting id="shadowpm" type="text" default="" visible="false"/>
        <setting id="shadowrd" type="text" default="" visible="false"/>

        <setting id="easynews-fen" type="text" default="" visible="false"/>
        <setting id="furk-fen" type="text" default="" visible="false"/>
        <setting id="fanart-exodusredux" type="text" default="" visible="false"/>
        <setting id="fanart-gaia" type="text" default="" visible="false"/>
        <setting id="fanart-numbers" type="text" default="" visible="false"/>
        <setting id="fanart-thecrew" type="text" default="" visible="false"/>
        <setting id="fanart-metadatautils" type="text" default="" visible="false"/>
        <setting id="fanart-premiumizer" type="text" default="" visible="false"/>
        <setting id="fanart-realizer" type="text" default="" visible="false"/>
        <setting id="fanart-scrubs" type="text" default="" visible="false"/>
        <setting id="fanart-venom" type="text" default="" visible="false"/>
        <setting id="fanart-seren" type="text" default="" visible="false"/>
        <setting id="fanart-tmdbhelper" type="text" default="" visible="false"/>
        <setting id="imdb-exodusredux" type="text" default="" visible="false"/>
        <setting id="imdb-gaia" type="text" default="" visible="false"/>
        <setting id="imdb-numbers" type="text" default="" visible="false"/>
        <setting id="imdb-thecrew" type="text" default="" visible="false"/>
        <setting id="imdb-premiumizer" type="text" default="" visible="false"/>
        <setting id="imdb-realizer" type="text" default="" visible="false"/>
        <setting id="imdb-scrubs" type="text" default="" visible="false"/>
        <setting id="imdb-venom" type="text" default="" visible="false"/>
        <setting id="kitsu-wonderfulsubs" type="text" default="" visible="false"/>
        <setting id="login-iagl" type="text" default="" visible="false"/>
        <setting id="login-netflix" type="text" default="" visible="false"/>
        <setting id="mal-wonderfulsubs" type="text" default="" visible="false"/>
        <setting id="omdb-metadatautils" type="text" default="" visible="false"/>
        <setting id="omdb-metahandler" type="text" default="" visible="false"/>
        <setting id="omdb-tmdbhelper" type="text" default="" visible="false"/>
        <setting id="login-opensubtitles" type="text" default="" visible="false"/>
        <setting id="login-opensubsbyopensubs" type="text" default="" visible="false"/>
        <setting id="login-orion" type="text" default="" visible="false"/>
        <setting id="tmdb-exodusredux" type="text" default="" visible="false"/>
        <setting id="tmdb-fen" type="text" default="" visible="false"/>
        <setting id="login-eis" type="text" default="" visible="false"/>
        <setting id="tmdb-gaia" type="text" default="" visible="false"/>
        <setting id="tmdb-numbers" type="text" default="" visible="false"/>
        <setting id="tmdb-metadatautils" type="text" default="" visible="false"/>
        <setting id="tmdb-eis" type="text" default="" visible="false"/>
        <setting id="tmdb-openmeta" type="text" default="" visible="false"/>
        <setting id="tmdb-thecrew" type="text" default="" visible="false"/>
        <setting id="tmdb-premiumizer" type="text" default="" visible="false"/>
        <setting id="tmdb-realizer" type="text" default="" visible="false"/>
        <setting id="tmdb-scrubs" type="text" default="" visible="false"/>
        <setting id="tmdb-seren" type="text" default="" visible="false"/>
        <setting id="tmdb-tmdbhelper" type="text" default="" visible="false"/>
        <setting id="tmdb-venom" type="text" default="" visible="false"/>
        <setting id="trakt-openmeta" type="text" default="" visible="false"/>
        <setting id="trakt-seren" type="text" default="" visible="false"/>
        <setting id="tvdb-metahandler" type="text" default="" visible="false"/>
        <setting id="tvdb-openmeta" type="text" default="" visible="false"/>
        <setting id="tvdb-premiumizer" type="text" default="" visible="false"/>
        <setting id="tvdb-realizer" type="text" default="" visible="false"/>
        <setting id="tvdb-seren" type="text" default="" visible="false"/>
        <setting id="location-yahoo" type="text" default="" visible="false"/>
        <setting id="login-youtube" type="text" default="" visible="false"/>
        <setting id="ws-wonderfulsubs" type="text" default="" visible="false"/>
    </category>

    <category label="Install Settings">
        <setting type="lsep" label="APKs" />
        <setting type="action" label="Open Kodi Android Updater Settings" action="RunPlugin(plugin://plugin.program.openwizard/?mode=fmchoose)" option="close" />
        <setting id="apk_path" type="folder" label="Choose Download Location" default="/storage/emulated/0/Download/"/>
        <setting type="lsep" label="Save Data When Installing Build:"/>
        <setting id="keeptrakt" type="bool" label="Keep My Trakt Data" default="true"/>
        <setting id="traktnextsave" type="text" label="Last Time Trakt Data Saved:" visible="!eq(-1, false)" enable="false" default="2019-01-01 00:00:00"/>
        <setting id="keepdebrid" type="bool" label="Keep My Debrid Data" default="true"/>
        <setting id="debridnextsave" type="text" label="Last Time Debrid Data Saved:" visible="!eq(-1, false)" enable="false" default="2019-01-01 00:00:00"/>
        <setting id="keeplogin" type="bool" label="Keep My Login Data" default="true"/>
        <setting id="loginnextsave" type="text" label="Last Time Login Data Saved:" visible="!eq(-1, false)" enable="false" default="2019-01-01 00:00:00"/>
        <setting type="lsep" label="Keep Settings When Installing Build:"/>
        <setting id="keepfavourites" type="bool" label="Keep My Favourites" default="true"/>
        <setting id="keepsources" type="bool" label="Keep My Sources" default="true"/>
        <setting id="keepprofiles" type="bool" label="Keep My Profiles" default="false"/>
        <setting id="keepplayercore" type="bool" label="Keep My playercorefactory.xml" default="false"/>
        <setting id="keepguisettings" type="bool" label="Keep My guisettings.xml" default="false"/>
        <setting id="keepadvanced" type="bool" label="Keep My AdvancedSettings.xml" default="true"/>
        <setting id="keeprepos" type="bool" label="Keep Installed Repositories" default="false"/>
        <setting id="keepsuper" type="bool" label="Keep Super Favourites" default="false"/>
        <setting id="keepwhitelist" type="bool" label="Keep My Whitelist Addons" default="false"/>
    </category>

    <category label="View Settings">
        <setting id="developer" type="bool" label="Show Developer Menu: " enable="true" default=""/>
        <setting id="adult" type="bool" label="Show Adult Addons: " enable="true" default="false"/>
        <setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
        <setting id="viewType" type="number" label="View Type" default="50" visible="!eq(-1, false)" enable="!eq(-1,false)"/>
        <setting type="lsep" label="Notification Window on Startup:"/>
        <setting id="notify" type="bool" label="Disable Notification on Startup" default="false" />
        <setting id="noteid" type="number" label="Latest Notification" visible="false" default="0" />
        <setting id="notedismiss" type="bool" label="Dismiss or Remind me later" visible="false" />
    </category>

    <category label="Logging Settings">
        <setting type="lsep" label="Event Logging in the Wizard:"/>
        <setting id="debuglevel" type="enum" label="What level would you like the wizard to log?" values="No Logging|Normal Logging|Full Logging" default="1"/>
        <setting id="wizardlog" type="bool" label="Enable Wizard Logging:" default="true"/>
        <setting id="autocleanwiz" type="bool" label="Automatically Clean up Wizard Log: " visible="!eq(-1,false)" default="true"/>
        <setting id="wizlogcleanby" type="enum" label="How would you like to clean up wizard.log?" visible="!eq(-2,false)+!eq(-1,false)" values="By Days|By Size|By Lines" default="1"/>
        <setting id="wizlogcleandays" type="enum" subsetting="true" label="Keep how many days of wizard.log?" enable="!eq(-2,false)" visible="eq(-1,0)+!eq(-2,false)+!eq(-3,false)" values="1 Day|2 Days|3 Days|7 Days" default="2"/>
        <setting id="wizlogcleansize" type="enum" subsetting="true" label="Max file size for wizard.log?" enable="!eq(-3,false)" visible="eq(-2,1)+!eq(-3,false)+!eq(-4,false)" values="100 KB|200 KB|300 KB|400 KB|500 KB|1 MB" default="1"/>
        <setting id="wizlogcleanlines" type="enum" subsetting="true" label="Keep how many lines of wizard.log?" enable="!eq(-4,false)" visible="eq(-3,2)+!eq(-4,false)+!eq(-5,false)" values="100|200|300|400|500" default="2"/>
        <setting id="nextwizcleandate" type="text" label="Next Time Wizard Log Cleaned:" visible="false" default="2019-01-01 00:00:00"/>
    </category>
</settings>
